<!doctype html>
<html lang="en" class="min-h-full h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Crypto Trade{% endblock %}</title>
</head>
<header>
    {% block header %}{{ include ("components/_nav.html.twig") }}{% endblock %}
</header>
<body class="min-h-full h-full">
<div class="min-h-full bg-gradient-to-b from-gray-900 to-slate-800 flex flex-col place-items-center justify-stretch">{% block content %}{% endblock %}</div>
</body>
</html>