{% extends "partials/_base.html.twig" %}

{% block title %} Transaction list {% endblock %}
{% block content %}
    {% if article %}
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>

        <form action="/articles/{{ article.id }}" method="post">
            <input type="hidden" name="_method" value="delete"><br>
            <input type="submit" value="Delete article">
        </form>
    {% else %}
        <p>Article not found.</p>
    {% endif %}
{% endblock %}